/* FOOTER */
.footer {
  min-height: 90px;
  font-size: 13px;
  margin-top: 0;
  padding:60px 0;
  font-weight: 100;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  color: #777;
  position: relative;
}

.footer:before,.footer:after {
  content: " ";
  display: table;
}

.footer:after {
  clear: both;
}

.footer a {
  color: $black;
  font-size: 12px;
  text-transform: uppercase;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out
}
.footer a:hover {
  color: $dark-grey;
}
.footer ul,.footer ol {
  list-style: none;
}
.footer ul li,.footer ol li {
  padding: 10px 0;
}

.footer-block {
  margin-top:20px;
  margin-bottom: 0;
  border: none;
  background: transparent;
  position: relative;
}

.footer .title_block {
  border: none;
  background: none;
  color: $black;
  text-align: left;
  padding-top:0;
  padding-left:0;
  padding-right:0;
  padding-bottom: 20px;
  position: relative;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0;
  background: transparent;
  border-top-right-radius: -1px;
  border-top-left-radius: -1px;
  margin: 0;
  font-weight: 100;
}
.footer-social {
  float: right;
  margin-top: 30px
}

.footer-social a.instagram {
  background: url(../img/instagram.png) no-repeat left top;
}

.footer-social a.youtube {
  background: url(../img/youtube.png) no-repeat left top;
}

.footer-social a.facebook {
  background: url(../img/facebook.jpg) no-repeat left top;
}

.footer-social a.pinterest {
  background: url(../img/pinterest-sociocon.png) no-repeat left top;
}

.footer-social a {
  margin-bottom: 10px;
  margin-right: 7px;
  width: 48px;
  height: 48px;
  display: block;
  float: left;
  line-height: 1000px;
  overflow: hidden;
  color: $pink;
  opacity: .5;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out
}

.footer-social a:hover {
  opacity: 1;
}