textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: $light-grey;
  border:1px solid $light-grey;
  box-shadow: none;
  outline: 0 none;
}
/*******************************BUTTONS*******************/
.btn{
  border-radius:0;
  border:1px solid $light-grey;
  background:$white;
  color:$black;
  min-width:100px;
}
.btn.btn-black{
  color:$white;
  background:$black;
  border-color:$black;
}
.btn-white{
  border: 1px solid $black;
}
/*****************************INPUTS****************/
input,input.form-control{
  border-radius:0;
  border:1px solid $light-grey;
  background:$white;
  box-shadow:none;
}
.input-group-btn>.btn {
  border-left:none;
}
.input-group>input,.input-group>input[type="text"]:focus{
  border-right:none;
}

/****************** NICE ANIMATED INPUT ************/
.form-group.form-md-line-input {
  position: relative;
  margin: 0 0 35px;
  padding-top: 20px;
}
.form-group.form-md-line-input .form-control {
  background: 0 0;
  /*border:0;
  border-bottom:1px solid $light-grey;*/
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  color: $black;
  box-shadow: none;
  padding-left: 0;
  padding-right: 0;
  margin-top:10px;
  font-size: 18px;
  text-align:center;
}
.form-group.form-md-line-input .form-control~.form-control-focus,.form-group.form-md-line-input .form-control~label {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  pointer-events: none;
}
                /********UNDERLINE ANIMATION*********/
.form-group.form-md-line-input .form-control~.form-control-focus:after,.form-group.form-md-line-input .form-control~label:after {
  content: '';
  position: absolute;
  z-index: 5;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  visibility: hidden;
  transform-origin:left;
  transition: all .2s;
}

.form-group.form-md-line-input .form-control~label {
  top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight:400;
  color: $black;
}


.form-group.form-md-line-input .form-control.edited:not([readonly])~.form-control-focus:after,.form-group.form-md-line-input .form-control.edited:not([readonly])~label:after,.form-group.form-md-line-input .form-control.focus:not([readonly])~.form-control-focus:after,.form-group.form-md-line-input .form-control.focus:not([readonly])~label:after,.form-group.form-md-line-input .form-control:focus:not([readonly])~.form-control-focus:after,.form-group.form-md-line-input .form-control:focus:not([readonly])~label:after {
  visibility: visible;
  left: 0;
  width: 100%;
  /*background: $pink;*/
}

                /** HELP BLOCK **/
.form-group.form-md-line-input .form-control.edited:not([readonly])~.help-block,.form-group.form-md-line-input .form-control.focus:not([readonly])~.help-block,.form-group.form-md-line-input .form-control:focus:not([readonly])~.help-block {
  color: $pink;
  opacity: 1;
  filter: alpha(opacity=100);
}

                /** DISABLED INPUT **/
.form-group.form-md-line-input .form-control[disabled],.form-group.form-md-line-input .form-control[readonly],fieldset[disabled] .form-group.form-md-line-input .form-control {
  background: 0 0;
  cursor: not-allowed;
  border-bottom: 1px dashed $light-grey;
}
                /** FLOATING LABEL **/
.form-group.form-md-line-input.form-md-floating-label .form-control~label {
  font-size: 16px;
  top: 25px;
  transition: .2s ease all;
  color: $black;
}

.form-group.form-md-line-input.form-md-floating-label .form-control.edited~label,.form-group.form-md-line-input.form-md-floating-label .form-control.focus:not([readonly])~label,.form-group.form-md-line-input.form-md-floating-label .form-control.form-control-static~label,.form-group.form-md-line-input.form-md-floating-label .form-control:focus:not([readonly])~label,.form-group.form-md-line-input.form-md-floating-label .form-control[readonly]~label {
  top: 0;
  font-size: 13px;
}
                /** HELP BLOCK W/ LINE BELOW**/
.form-group.form-md-line-input .help-block {
  position: absolute;
  margin: 2px 0 0;
  opacity: 0;
  filter: alpha(opacity=0);
  font-size: 13px;
  width:100%;
  text-align:center;
}
/****************** END NICE ANIMATED INPUT ************/

