textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: $dark-grey;
  border:1px solid $dark-grey;
  box-shadow: none;
  outline: 0 none;
}

.btn{
  border-radius:0;
  border:1px solid $dark-grey;
  background:$white;
  color:$black;
}
input,input.form-control{
  border-radius:0;
  border:1px solid $dark-grey;
  background:$white;
}
.input-group-btn>.btn {
  border-left:none;
}
.input-group>input,.input-group>input[type="text"]:focus{
  border-right:none;
}
.btn-white{
  border: 1px solid $black;
}