@import "_colors",
"_global_vars",
"_forms",
"_navbar",
"_navbar_account",
"_navbar_search",
"_newsletter",
"_modals",
"_footer";
html,body{
  margin:0;
  padding:0;
}
body{
  color: $black;
  font-family: 'Open Sans Condensed', sans-serif;//"futura-pt-book",sans-serif;
  letter-spacing: 1px;
  background-color: $white;
  min-height: 100%;
  width: 100%;
  position: relative;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 16px;
  line-height: 1.6rem;
  letter-spacing: 1px;
}
ul li {
  list-style: none;
}
ul{
  margin:0;
  padding:0;
}
a{
  color:$black;
  cursor:pointer;
}
a:hover{
  text-decoration: none;
  color:$black;
}
a.underline:hover{
  text-decoration:underline;
}
.underline{
  text-decoration:underline;
}
.ta-r{
  text-align:right;
}
.ta-l{
  text-align:left;
}

.list-group {
  margin-bottom: 20px;
  padding-left: 0;
}
.close{
  width:21px;
  height:21px;
}