@import
"_colors",
"_scrollbar",
"_global_vars",
"_forms",
"_navbar",
"_navbar_account",
"_navbar_search",
"_newsletter",
"_modals",
"_footer",
"_module-slider_revolution_responsive";
html,body{
  margin:0;
  padding:0;
}
body{
  color: $black;
  font-family: 'Open Sans Condensed', sans-serif;//"futura-pt-book",sans-serif;
  letter-spacing: 1px;
  background-color: $white;
  min-height: 100%;
  width: 100%;
  position: relative;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 16px;
  line-height: 1.6rem;
  letter-spacing: 1px;
  overflow-x: hidden;
}
ul li {
  list-style: none;
}
ul{
  margin:0;
  padding:0;
}
a{
  color:$black;
  cursor:pointer;
}
a:hover{
  text-decoration: none;
  color:$black;
}
a.underline:hover{
  text-decoration:underline;
}
.underline{
  text-decoration:underline;
}
.ta-r{
  text-align:right;
}
.ta-l{
  text-align:left;
}
.list-group {
  margin-bottom: 20px;
  padding-left: 0;
}
.close{
  width:21px;
  height:21px;
}

.tag{
  border-radius: 999px;
  padding: 1px 10px;
  color:white;
  display: inline-block;
  min-width: 100px;
  text-align: center;
}
.tag-green{
  background: $green;
}
.tag-orange{
  background: $orange;
}
.tag-red{
  background: $red;
}
.tag-pink{
  background: $pink;
}
.page-headline{
  text-align:center;
  margin-bottom:30px;
  padding-bottom:30px;
  border-bottom:1px solid $lightest-grey;
}
.page-headline h1{
  color:$pink;
}
.page-content{
  margin:30px 0;
  padding-bottom:30px;
}
ul.lg li{
  padding: 10px 0;
}
p.sm{
  font-size:11px;
}
.spacer-big{
  width:100%;
  height:60px;
  float:left;
}
.spacer-sm{
  width:100%;
  height:30px;
  float:left;
}
hr{
  float:left;
  width:100%;
  border-top:1px solid #e5e5e5;
}