textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #aeaeae;
  border: 1px solid #aeaeae;
  box-shadow: none;
  outline: 0 none; }

.btn {
  border-radius: 0;
  border: 1px solid #aeaeae;
  background: white;
  color: black; }

input, input.form-control {
  border-radius: 0;
  border: 1px solid #aeaeae;
  background: white; }

.input-group-btn > .btn {
  border-left: none; }

.input-group > input, .input-group > input[type="text"]:focus {
  border-right: none; }

.btn-white {
  border: 1px solid black; }

.ba-navbar {
  position: fixed;
  top: 0;
  z-index: 450;
  width: 100%;
  background-color: #fff;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0); }

.ba-header {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #eaeaea;
  height: 43px; }

.ba-logo-holder > a {
  line-height: 43px; }

.ba-header .ba-logo-holder {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 210px;
  height: 43px; }

.navbar-toggle {
  float: left; }

.navbar-toggle .icon-bar {
  height: 1px;
  background: #afabab; }

.ba-search-container, .ba-account-container {
  display: none; }

.ba-account-container {
  position: absolute;
  right: 5px;
  top: 4px; }

@media (min-width: 768px) {
  .ba-navbar {
    background-color: white;
    height: auto; }

  .ba-header {
    height: 50px;
    border-bottom: none; }

  .ba-logo-holder > a, .ba-account-container, .ba-search-container {
    line-height: 50px; }

  .ba-header .ba-logo-holder {
    /*display: none;*/ }

  .ba-search-container {
    position: relative;
    display: block;
    float: left;
    /*width: 248px;*/
    margin-left: 41px; }

  .ba-account-container {
    position: relative;
    top: 0;
    z-index: 2;
    display: block;
    float: right;
    margin-right: 41px; } }
/*


!*
TUT
*!

.header__menu {
  position: absolute;
  top: 7px;
  left: 10px;
}

@media (min-width: 48em) {
  .header__menu {
    top: 10px;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    text-align: center;
  }
}
.header__search-container {
  display: none;
}

@media(min-width: 48em) {
  .header__search-container {
    position: relative;
    display: block;
    float: left;
    width: 248px;
    margin: 19px 0 0 41px;
  }
}
.account_panel{
  position: absolute;
  right: 5px;
  top: 4px;
}


@media(min-width: 48em) {
  .account_panel{
    position: relative;
    top: 0;
    z-index: 2;
    float: right;
    margin: 13px 26px 0 0;
    padding: 8px 10px 9px;
    width: 220px;
  }
}*/
.ba-activator-hover.header-account-menu-link.underline > span:after {
  position: absolute;
  width: 100%;
  border-bottom: 1px solid black; }

.header_account_content {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
  display: none; }

ul.header_account_content.content-register-login li:first-child {
  text-align: right;
  border-right: 1px solid #888;
  padding: 0 12px 0 0; }

.header_account_content li {
  float: left;
  width: 50%;
  padding-left: 12px; }

.header-account-menu-link {
  width: 100px;
  display: inline-block;
  text-align: center; }

@media (min-width: 48em) {
  .header-account-menu.active {
    opacity: 1; }

  .header-account-menu {
    display: block;
    position: absolute;
    z-index: -1;
    width: 250px;
    background-color: #fff;
    padding: 50px 10px 10px;
    border: 1px solid #ccc;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    right: -25px;
    top: 6px;
    line-height: 16px; }

  .header-account-menu:before {
    content: "";
    border-top: 1px solid #888;
    position: absolute;
    top: 38px;
    left: 10px;
    right: 10px; } }
.header-search-holder {
  display: block;
  position: absolute;
  width: 250px;
  margin-top: 9px;
  margin-left: -291px;
  opacity: 1;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  /*display: block;
  position: absolute;
  z-index: -1;
  width: $header-account-menu-width;
  background-color: #fff;
  padding: 50px 10px 10px;
  border: 1px solid #ccc;
  opacity: 0;
  right: $header-account-menu-right;
  top:6px;
  line-height: 16px;*/ }

.header-search-holder.active {
  margin-left: 0px; }

body {
  color: #333;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 1px;
  background-color: #fff;
  min-height: 100%;
  width: 100%;
  position: relative;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 16px;
  line-height: 1.6rem;
  letter-spacing: 1px; }

a {
  color: black; }

a:hover {
  text-decoration: none;
  color: black; }

a.underline:hover {
  text-decoration: underline; }

.underline {
  text-decoration: underline; }

.ta-r {
  text-align: right; }

.ta-l {
  text-align: left; }

/*# sourceMappingURL=app.css.map */
