################################
# Directories
out/
#web/modules/
#web/admin/modules/
web/tests/
/web/install/
com/worstentrepreneur/tests/

################################
# OSX
.DS_Store
._*

################################
# IDEA
*.iml
.idea/
/web/admin/config_gmail.properties
/web/uploads/
/web/modules/frontend-slider_revolution_responsive/
/web/admin/modules/slider-revolution-responsive-jquery-plugin/
/web/admin/modules/metronic-4.7.1/
