################################
# Directories
out/
web/modules/
web/admin/modules/
web/tests/
web/install/
web/admin/updates/
web/admin/config_gmail.properties
web/uploads/
com/worstentrepreneur/tests/
web/themes/fashion-grey/

################################
# OSX
.DS_Store
._*

################################
# IDEA
*.iml
.idea/