$lightest-grey : #e5e5e5;
$light-grey : #aeaeae;/*#888*/;
$dark-grey : #555;/*#aeaeae*/;
$black : black;
$white : white;
$pink : black;
$wine-red : #ab094a;
$red:red;
$orange:#ff8c14;
$blue:#2368e8;
$blue-light:#598CE8;
$violet:#692de3;
$green:#11E06D;
//$grey-lighter: rgba(0, 0, 0, 0.1);
/*$grey:#737373;*/
//$grey-light:#737373;/*#787878*/;
//$black:#212020;
//$tinymcecolor:$grey-light;
//$tinymceBGColor:$white;
//$tinymceBorders:grey-lighter;//0.57

.ccc-c-green{
  color:$green;
}
.clr-f-pink{
  color:$pink;
}
.ccc-c-pink{
  color:$pink;
}